@import "../../variables";
.main {
  height: 60px;
  background-color: $main-color;
  padding: 0 20px;
  padding-left: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  color: #fff;
  font-size: 35px;
  cursor: pointer;
  transition: 0.3s all;
  &:hover {
    color: $secondary-color;
  }
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    text-decoration: none;
    color: #fff;
  }
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}
